<!-- Alert -->
{{- if .Get "title" -}}
	<div class="panel panel-primary panel-info">
	{{ with .Get "title" }}<div class="panel-heading">{{htmlUnescape .}}</div>{{end}}
	<div class="panel-body">{{.Inner}}</div>
	</div>
{{- else -}}
	<div class="alert alert-info" role="alert">{{ .Inner | markdownify }}</div>
{{- end -}}
<!-- Alert -->
