<!-- Alert -->
{{if .Get "title" }}
<div class="panel panel-primary panel-warning">
{{ with .Get "title" }}<div class="panel-heading">{{htmlUnescape .}}</div>{{end}}
<div class="panel-body">{{.Inner}}</div>
</div>
{{else}}
<div class="alert alert-warning" role="alert">{{ .Inner | markdownify }}</div>
{{end}}
<!-- Alert -->
